<div>

<form action='/new_link' method='post'>
  <input type="text" name="url" required>
  <input type="submit" value="Submit">
</form>

<% if flash[:notice] == "Please add a valid link" %>
<div data-alert class="alert">
     <strong> <%= flash[:notice] %> </strong>
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
 </div>
<% end %>
</div>

<ul>
  <% @links.each do |link| %>
  <li><%= link.url %></li>
  <% end %>
</ul>
